$primaryfont: 'Lato', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;
$upper: uppercase;
$graybg: #aeb5c3;
$color: #fff;
$primary: #c794c4;
$purple: #90279d;
$lightpurpletxt: #e6d9e8;
$pinkback: #e90688;
$darkgray: #23272a;
$blue: #00afa8;
$fullwidth: 100%;
$runningsize: 16px;
$smallsize: $runningsize - 2px;
@mixin position($type, $z-index, $property, $value) {
	position:$type;
	z-index:$z-index;
	@if $property == top {
    	top: $value;
  	}
	@else if $property == right {
    	right: $value;
  	}
	@else if $property == bottom {
    	bottom: $value;
  	}
	@else if $property == left {
    	left: $value;
	}
}
/**** mixin function ****/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.outer {
    display: table; width: $fullwidth; height: calc(100% - 66px); text-align: center; @include position(absolute, 0, left, 0); top: 0;
    .inner {
        display: table-cell; width: $fullwidth; height: $fullwidth; vertical-align: middle;
        .notFound {
            max-width:425px; width: $fullwidth; padding: 50px; background: rgba(116, 17, 117, 0.4); margin: 0 auto; font-family: $secondaryfont;
            h1 {
                font-size: 150px; font-weight: 200; color: $color; line-height: 150px;
            }
            h2 {
                font-size: $runningsize + 10; font-weight: 400; color: $color; text-transform: $upper; padding-bottom: 25px;
            }
            p {
                font-size: $runningsize + 2; font-family: $primaryfont; font-weight: 400; color: #e6d9e8; padding-bottom: 15px;
            }
            button {
                font-size: $smallsize; background: $pinkback; color: $color; text-transform: $upper; padding: 10px 20px; border: none; cursor: pointer;
                i {
                    display: block; float: left; font-size: 16px; padding-right: 10px; margin-top: 1px;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
