<div class="outer">
    <div class="inner">
        <div class="ibox-content">
          <div class="ibox-title">
            <h1>Reset your password</h1>
          </div>
          <form #rpForm="ngForm">
            <div>
              <span [ngClass]="{ 'input-fields':true, 'errorMsgNew': ((pwd.dirty || pwd.touched || isRPSubmitFlag) && pwd.errors), 
                  'successMsgNew':!pwd.errors}">
                <input type="{{pwdType}}" required [(ngModel)]="password" maxlength="20" (blur)="verifyPassword()" pattern="^[a-zA-Z0-9!@#$%^&*]{4,12}$"
                  #pwd="ngModel" name="Password" placeholder="Enter new password" [ngModelOptions]="{updateOn: 'blur'}">
                <i class="fa fa-eye password" (click)="showPassword(pwdType)"></i>
                <!-- <i class="fa fa-eye-slash password" (click)="showPassword(pwdType)"></i> -->
                <div class="errorNew" *ngIf="(isRPSubmitFlag || (pwd.errors && (pwd.dirty || pwd.touched)))">
                  <div [hidden]="!pwd.errors" class="errorMessage" style="bottom:4px;">
                    Please enter valid password of minimum 4 characters.
                  </div>
                </div>
              </span>
            </div>
            <div>
              <span [ngClass]="{ 'input-fields':true, 'errorMsgNew': ((rptPwd.dirty || rptPwd.touched || isRPSubmitFlag) && (rptPwd.errors || isPwdMismatch)), 
                  'successMsgNew':(!rptPwd.errors && !isPwdMismatch)}">
                <input type="{{rptPwdType}}" name="RepeatPwd" [(ngModel)]="repeatPassword" (blur)="verifyPassword()" #rptPwd="ngModel" required
                  placeholder="Confirm your password" [ngModelOptions]="{updateOn: 'blur'}">
                <i class="fa fa-eye password" (click)="showRptPassword(rptPwdType)"></i>
                <div class="errorNew" *ngIf="(isRPSubmitFlag || isPwdMismatch || (rptPwd.errors && (rptPwd.dirty || rptPwd.touched)))">
                  <div [hidden]="!isPwdMismatch" class="errorMessage" style="bottom:4px;">
                    The password values are a mismatch.
                  </div>
                </div>
              </span>
            </div>
            <div class="col-md-offset-0 col-md-12">
              <span class="input-fields">
                <button class="loginButton" [disabled]="isRPProcessing" (click)='resetPassword()'>Update Password</button>
              </span>
            </div>
          </form>
        </div>
    </div>
  </div>