<div class="outer">
  <div class="inner">
    <div class="confirmEmail">
      <div class="logo">
        <img src="../../assets/images/logo-confirm.jpg" alt="">
      </div>
      <div class="icon">
        <img src="../../assets/images/confirm-icon.png" alt="">
      </div>
      <p>A verification email has been sent to your email address. Please confirm your email.</p>
      <div class="verificationTxt">
        <p>
          <span>If you have not received the verification email yet, please click on resend button</span>
        </p>
        <button (click)="resendConfirmationMail()">Resend</button>
      </div>
    </div>
  </div>
</div>