<h2>Settings</h2>
<ul>
  <li><a routerLink="/teacher/settings" [ngClass]="{'active':currentUrl==='/teacher/settings'}"><img src="../../assets/images/gear-img.png" alt=""> Account</a></li>
  <li><a routerLink="/teacher/rate-settings" [ngClass]="{'active':currentUrl==='/teacher/rate-settings'}"><img src="../../assets/images/dollar-img.png" alt=""> Rates</a></li>
  <li><a routerLink="/teacher/link-setting" [ngClass]="{'active':currentUrl==='/teacher/link-setting'}"><img src="../../assets/images/link-icon.png" alt=""> Link</a></li>
  <!--<li><a routerLink="javascript:void(0);"><img src="../../assets/images/coupon-img.png" alt=""> Coupons</a></li>-->
  <li><a><img src="../../assets/images/coupon-img.png" alt=""> Coupons</a></li>
  <li><a routerLink="/teacher/payment" [ngClass]="{'active':currentUrl==='/teacher/payment'}"><img src="../../assets/images/credit-card-img.png" alt=""> Payments</a></li>
</ul>