<div class="connectedBack">
    <div class="innerConnected">
      <div class="connectedLeft">
        <div class="editExistingContent">
          <h3>Recently Created</h3>
          <owl-carousel id="recentycreated" [options]="{items: 4, dots: false, navigation: true, autoplay:false, autoHeight:true, autoplayTimeout:7000}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/exercise-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
          </owl-carousel>
          <h3>Popular Songs</h3>
          <owl-carousel id="popularSongs" [options]="{items: 4, dots: false, navigation: true, autoplay:false, autoHeight:true, autoplayTimeout:7000}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
          </owl-carousel>
          <h3>Popular Exercises</h3>
          <owl-carousel id="popularExercies" [options]="{items: 4, dots: false, navigation: true, autoplay:false, autoHeight:true, autoplayTimeout:7000}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/exercise-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/exercise-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/exercise-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/exercise-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
          </owl-carousel>
          <h3>Hasn’t Been Sung in > 1 Month</h3>
          <owl-carousel id="beenSung" [options]="{items: 4, dots: false, navigation: true, autoplay:false, autoHeight:true, autoplayTimeout:7000}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/exercise-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/exercise-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="exercise">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
            <div class="item">
              <div class="song">
                <h4><img src="../../assets/images/song-icon.png" alt=""> My Heart Will Go On</h4>
                <p>Celine Dion</p>
              </div>
            </div>
          </owl-carousel>
        </div>
      </div>
      <div class="connectedRight">
        <div>
          <tabset>
            <tab heading="Lesson" customClass="gray">
              <div class="lobbyTabContent">
                <h2>Amazing Grace - Traditional</h2>
                <div class="clr"></div>
                <ul class="trackBreakPoint">
                  <li>
                    <span>Jump To</span>
                  </li>
                  <li>
                    <label>0:43 - Verse 2</label>
                  </li>
                  <li>
                    <label>1:52 - Chorus</label>
                  </li>
                  <li>
                    <label>2:15 - Bridge</label>
                  </li>
                  <li>
                    <label>3:37 - Rehearsal B</label>
                  </li>
                </ul>
                <div class="player"><img src="../../../assets/images/player-img.png" alt="" style="width:100%;"></div>
                <div class="lessonQueue">
                  <ul>
                    <li>Lesson Queue</li>
                    <li>
                      Autoplay <ui-switch size="small" defaultBgColor="#32353b" defaultBoColor="#32353b" switchColor="#00afa8"></ui-switch>
                    </li>
                  </ul>
                </div>
                <accordion>
                  <accordion-group heading="12 3 Tone - 1, 2, 3, 2, 1 - La">
                    <p>This content is straight in the template.</p>
                  </accordion-group>
                  <accordion-group heading="13 C Major Scale - 5 Note - 1, 2, 3, 4, 5, 4, 3, 2, 1">
                    <p>Content 1</p>
                  </accordion-group>
                  <accordion-group heading="14 5 Tone - 1, 2, 3, 4, 5, 4, 3, 2, 1 - La">
                    <ul>
                      <li><i class="fa fa-enter"></i> 15 Hum</li>
                      <li><i class="fa fa-enter"></i> 16 Ha</li>
                      <li><i class="fa fa-enter"></i> 17 Me</li>
                    </ul>
                  </accordion-group>
                  <accordion-group heading="Celine Dion - My Heart Will Go On 02:34">
                    <p>Content 2</p>
                  </accordion-group>
                  <accordion-group heading="19 8 Tone - 1, 2, 3, 4, 5, 6, 7, 8, 7, 6, 5, 4, 3, 2, 1 - La">
                    <p>Content 2</p>
                  </accordion-group>
                </accordion>
              </div>
            </tab>
            <tab heading="Media" customClass="purple">bbb</tab>
            <tab heading="Chat" customClass="pink">bbb</tab>
          </tabset>
          <!-- <tabset>
            <tab *ngFor="let tabz of tabs" [heading]="tabz.title" [customClass]="tabz.customClass">{{tabz.content}}</tab>
          </tabset> -->
        </div>
      </div>
      <div class="bottomStrip">
        <div class="stripLeft">
          <ul>
            <li><a href="javascript:void(0);"><img src="../../../assets/images/recommended-icon.png" alt=""> Recommended</a></li>
            <li><a href="javascript:void(0);"><img src="../../../assets/images/bot-library-icon.png" alt=""> Library</a></li>
            <li>
              <!-- <div class="btn-group" dropdown [dropup]="isDropup"> -->
                <div class="btn-group" dropdown [dropup]="">
                <button id="button-dropup" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-dropup"><i class="fa fa-plus-square"></i> Add New</button>
                <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-dropup">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);"><img src="../../../assets/images/exercise-icon.png" alt="">Exercise</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);"><img src="../../../assets/images/song-icon.png" alt="">Song</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="stripRight">
          <label><span>Lesson:</span> beginner warmup basics</label>
          <button><i class="fa fa-floppy-o"></i> Save & Exit</button>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  