<div class="row">
    <div class="col-lg-10 col-sm-10 col-12 offset-lg-1 offset-sm-1 offset-0">
      <h1>Payment</h1>
      <div class="paymetNotRecd">
        <button><i class="fa fa-check"></i> Connected</button>
        <div class="accountNumber">
          <label>Stripe Account :</label>
          <p>abcdefg123456</p>
        </div>
        <div class="clr"></div>
      </div>
      <div class="paymentHistory">
        <h2>Payment History <span>(0)</span></h2>
        <div class="searchPayHistory">
          <form>
            <input type="text" placeholder="Search payment history">
          </form>
        </div>
        <div class="clr"></div>
        <div class="paymentTable">
          <table class="table">
            <thead>
              <tr>
                <th width="10%">Date</th>
                <th width="60%">Student</th>
                <th width="15%">Amount</th>
                <th width="10%" class="text-right">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="4">
                  <p>No payments received yet.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>