$primaryfont: 'Lato', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;
$iconfont: 'FontAwesome';
$upper: uppercase;
$graybg: #aeb5c3;
$color: #fff;
$primary: #c794c4;
$purple: #90279d;
$lightpurpletxt: #e6d9e8;
$pinkback: #e90688;
$darkgray: #23272a;
$blue: #00afa8;$fullwidth: 100%;
$runningsize: 16px;
$smallsize: $runningsize - 2px;
@mixin position($type, $z-index, $property, $value) {
	position:$type;
	z-index:$z-index;
	@if $property == top {
    	top: $value;
  	}
	@else if $property == right {
    	right: $value;
  	}
	@else if $property == bottom {
    	bottom: $value;
  	}
	@else if $property == left {
    	left: $value;
	}
}
/**** mixin function ****/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.connectedBack {
    background:url(../../../assets/images/teacher-lobby-bg.jpg) no-repeat fixed center center; background-size:cover; width:$fullwidth; height:calc(100% - 66px); @include position(absolute, 0, left, 0);
    .innerConnected {
        background:rgba(0, 0, 0, 0.7); width:$fullwidth; height:$fullwidth; display:flex; /*align-items:center; justify-content:center;*/
        .connectedLeft {
            width:60%; /*max-width:623px; margin:0 auto;*/ float:left; padding: 0 0 40px 0;
            .headTag {
                margin: 0 80px; background:rgba(116, 17, 117, 0.2); float:left; color:$graybg; font-size:$smallsize - 2; font-family:$secondaryfont; text-transform:$upper; padding:15px 15px 13px 35px; @include position(relative, 0, left, 0);
                &:before {
                    @include position(absolute, 0, left, 15px); top:19px; width:10px; height:10px; @include border-radius(100%); background:$blue; content:"";
                }
            }
            .video {
                width:$fullwidth; padding-bottom:22px; padding-left: 80px; padding-right: 80px;
            }
            #vidyoConnector {
                padding: 0 80px;
            }
            .LessonDetail {
                padding: 0 80px;
                .LessonLeft {
                    float:left; font-size:$runningsize + 3; font-weight:500; font-family:$secondaryfont; color:$color; @include position(relative, 0, left, 0);
                    i {
                        margin-left:5px; /*text-stroke: 0.2px $purple;*/ -webkit-text-stroke:0.2px $purple; background:$purple; width:15px; height:15px; font-size:12px; padding-left:3px; line-height:14px;
                    }
                }
                .LessonRight {
                    float:right;
                    ul {
                        li {
                            display:inline-block; width:32px; height:32px; line-height:32px; text-align:center;
                            a {
                                color:$color;
                            }
                            &.blue {
                                background:$blue;
                            }
                            &.purple {
                                background:$purple
                            }
                            &.pink {
                                background:$pinkback;
                            }
                            &.gray {
                                background:#454e61;
                            }
                        }
                    }
                }
            }
        }
        .connectedRight {
            .lessonQueue {
                ul {
                    display:flex;
                    li {
                        list-style:none; width:50%; align-items: end; display:inline-flex; color:#878787; font-size:$smallsize - 1; font-family:$secondaryfont; text-transform:$upper;     font-weight: 600;
                        &:last-child {
                            text-align:right; justify-content: flex-end;
                        }
                        ui-switch {
                            display:inline-block; margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

app-lesson-queue {
    width: 50%;
}

.ItrRBuilderContent {
    padding: 33px;
    h1 {
        font-family: $primaryfont; font-weight: 600; color: $color; margin: 0; padding: 0 0 20px 0; font-size: $runningsize + 6;
    }
    .itrDropdownContainer {
        background: rgba(92, 28, 114, 0.44); padding: 7px;
        ul {
            margin: 0; padding: 0; list-style: none;
            li {
                width: calc(25% - 4px); padding: 0 7px; display: inline-block; vertical-align: top;
                .fullWidth {
                    h3 {
                        width: $fullwidth; display: block; font-size: $runningsize; color: $color; font-family: $primaryfont; font-weight: 600; margin: 0; padding: 7px 0 5px 0;
                        i {
                            cursor: pointer; color: #c794c4; vertical-align: middle; font-size: $runningsize; padding-left: 2px;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                    .btn-group {
                        display: inline-block; vertical-align: top; width: $fullwidth;
                        button {
                            margin-top: 15px; width: $fullwidth; text-align: left; position: relative; background: #570e59; border: none; font-size: $runningsize; font-family: $primaryfont; font-weight: 400; color: #e6d9e8; padding: 10px;
                            &:after {
                                display: none;
                            }
                            &:before {
                                position: absolute; right: 10px; top: 12px; color: #e6d9e8; font-size: $runningsize; font-family: $iconfont; content: "\f107";
                            }
                            &:focus {
                                outline: none; box-shadow: none;
                            }
                        }
                        ul {
                            &.dropdown-menu {
                                max-height: 167px; float: none; -webkit-box-shadow: 1px 1px 10px 0 rgba(0,0,0,46); box-shadow: 1px 1px 10px 0 rgba(0,0,0,46);
                                li {
                                    width: $fullwidth; padding: 0; background: #6d165f; border-bottom: 1px solid #8b398c;
                                    a {
                                        white-space: normal; border: none; font-size: $smallsize; font-weight: 400; font-family: $primaryfont; padding: 10px 12px;
                                        &:hover {
                                            color: $color;
                                        }
                                    }
                                    &:last-child {
                                        border: none;
                                    }
                                    &.selected {
                                        a {
                                            background: $pinkback;
                                        }
                                    }
                                }
                                .mCSB_inside {
                                    .mCSB_container {
                                        margin-right: 0 !important;
                                    }
                                }
                            }
                        }
                        &.open {
                            button {
                                &:before {
                                    content: "\f106";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
