<div [ngClass]="{ 'connectedBack':true, 'chatModuleNew': true, 'conVideo':(guidedvideoService.isVideo || guidedvideoService.isExercise || 
guidedvideoService.isLibrary || guidedvideoService.isStep2 || guidedvideoService.isStep3)}">
  <div class="innerConnected" style="height: calc(100% - 48px)">
    <div class="connectedLeft">
      <div class="clr"></div>
      <div class="content" style="position: relative; width: 100%; height: 100%;">
        <!-- <div id="vidyoConnector" *ngIf="guidedvideoService.isVideo" class="text-center" style="width:100%; margin:0; height:550px; position: relative;">
          <div class="video" id="renderer" style="position: absolute;top: 0px;width: 100%;left: 0%;right: 0%;bottom: 60px;"></div>
          <div id="failed" class="hidden">
            <span id="error"></span>
            <span id="message"></span>
          </div>

          
             <div class="LessonDetail">
            <div class="LessonLeft">Robert Lewis
              <i class="fa fa-question" [tooltip]="tolTemplate" placement="bottom"></i>
            </div>
            <ng-template #tolTemplate class="lobbyTooltip">
              <div class="image">
                <img src="../../assets/images/stu-img.jpg" alt="">
              </div>
              <div class="stuDetail">
                <span class="stuName">robert lewis</span>
                <ul>
                  <li>Range: C1-C9</li>
                  <li>Student since May 2016</li>
                  <li>Soprano</li>
                  <li>Jazz concentration</li>
                </ul>
              </div>
              <div class="clr"></div>
            </ng-template>
            <div class="LessonRight">
              <ul>
                <li class="blue">
                  <a href="javascript:void(0);">
                    <i class="fa fa-video-camera" id="cameraButton"></i>
                  </a>
                </li>
                <li class="blue">
                  <a href="javascript:void(0);">
                    <i class="fa fa-microphone" id="microphoneButton"></i>
                  </a>
                </li>
                <li class="purple">
                  <a href="javascript:void(0);">
                    <i class="fa fa-phone fa-rotate-135"></i>
                  </a>
                </li>
                <li class="pink">
                  <a href="javascript:void(0);">
                    <i class="fa fa-circle" id="recordButton"></i>
                  </a>
                </li>
                <li class="gray">
                  <a href="javascript:void(0);">
                    <i class="fa fa-cog" id="optionsButton"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="clr"></div>
          </div>
        </div> -->
        <div *ngIf="guidedvideoService.isRecordVideo" style="height: 100% !important; width: 100%; position: absolute;">
          <quizresult></quizresult>
        </div>
        <div *ngIf="guidedvideoService.isLibrary" style="height: 100% !important; width: 100%; position: absolute;">
          <app-librarylist></app-librarylist>
        </div>
        <div *ngIf="guidedvideoService.isSong" class="innerTabContentNew" style="height: 100% !important; width: 100%; position: absolute;">
          <app-add-song></app-add-song>
        </div>
        <div *ngIf="guidedvideoService.isExercise" class="innerTabContentNew" style="height: 100% !important; width: 100%; position: absolute;">
          <app-add-exercise></app-add-exercise>
        </div>
        <div *ngIf="guidedvideoService.isVideo" class="innerTabContentNew" style="height: 100% !important; width: 100%; position: absolute;">
          <app-add-video></app-add-video>
        </div>

      </div>
      <div class="bottomStrip">
        <div class="stripLeft">
          <ul>
            <li>
              <a href="javascript:void(0);" (click)="unloadLibraryListComponent()">
                <img src="../../../assets/images/recommended-icon.png" alt=""> Video</a>
            </li>
            <li *ngIf="(role === 'Teacher')">
              <a href="javascript:void(0);" (click)="loadLibraryListComponent()">
                <img src="../../../assets/images/bot-library-icon.png" alt=""> Library</a>
            </li>
            <li>
              <div class="btn-group" dropdown [dropup]="isDropup">
                <button id="button-dropup" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-dropup">
                  <i class="fa fa-plus-square"></i> Add New</button>
                <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-dropup">
                  <li *ngIf="!guidedvideoService.isExercise" role="menuitem" (click)="addExercise()">
                    <a class="dropdown-item" href="javascript:void(0);">
                      <img src="../../../assets/images/exercise-icon.png" alt="">Exercise</a>
                  </li>
                  <li *ngIf="!guidedvideoService.isSong" role="menuitem" (click)="addSong()">
                    <a class="dropdown-item" href="javascript:void(0);">
                      <img src="../../../assets/images/song-icon.png" alt="">Song</a>
                  </li>
                  <li *ngIf="!guidedvideoService.isVideo" role="menuitem" (click)="addVideo()">
                    <a class="dropdown-item" href="javascript:void(0);">
                      <img src="../../../assets/images/vido-icon.png" alt="">Video</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="stripRight">
          <label *ngIf="guidedvideoService.LessonModel != null">
            <span>Lesson:</span> {{guidedvideoService.LessonModel.LessonName}} </label>
          <label *ngIf="guidedvideoService.LessonModel==null">
            <span>Lesson:</span> beginner warmup basics </label>
          <button (click)="endLesson()">
            <i class="fa fa-floppy-o"></i>End Lesson</button>
        </div>
      </div>
    </div>
    <app-guidedvideo-lesson-queue></app-guidedvideo-lesson-queue>
    <div class="clr"></div>
  </div>
</div>