$primaryfont: 'Lato', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;
$upper: uppercase;
$graybg: #aeb5c3;
$color: #fff;
$primary: #c794c4;
$purple: #90279d;
$lightpurpletxt: #e6d9e8;
$pinkback: #e90688;
$darkgray: #23272a;
$blue: #00afa8;
$fullwidth: 100%;
$runningsize: 16px;
$smallsize: $runningsize - 2px;
@mixin position($type, $z-index, $property, $value) {
	position:$type;
	z-index:$z-index;
	@if $property == top {
    	top: $value;
  	}
	@else if $property == right {
    	right: $value;
  	}
	@else if $property == bottom {
    	bottom: $value;
  	}
	@else if $property == left {
    	left: $value;
	}
}
/**** mixin function ****/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.drop-zone {
    border-radius:0px;
}


.connectedLeft {
    width:60%; /*max-width:623px; margin:0 auto;*/ float:left; padding:30px 30px 0 30px;
    h2 {
        font-size: $smallsize * 2 - 3; font-family: $secondaryfont; color: $color;
    }
    .librarySearch {
        width: calc(100% - 175px); float: left; @include position(relative, 0, left, 0);
        input[type="text"] {
            background: rgba(116, 17, 117, 0.4); width: $fullwidth; border: none; font-family: $primaryfont; color: #c794c4; font-size: $runningsize - 1; font-weight:400; padding: 7px 12px 7px 38px; margin-bottom: 20px; resize: none;
            &:focus {
                outline: none;
            }
        }
        &:before {
            font-family: 'FontAwesome'; font-size: $runningsize; color: #c794c4; content: "\f002"; @include position(absolute, 0, left, 10px); top: 5px;
        }
    }
    .libraryFilter {
        float: right; width: 160px;
        .btn-group {
            width: $fullwidth;
            button {
                background: rgba(116, 17, 117, 0.4); border: none; width: $fullwidth; font-size: $runningsize; font-family: $primaryfont; color: #e6d9e8;
                &:after {
                    display: none;
                }
                &:focus {
                    box-shadow: none;
                }
                span {
                    &.fa {
                        padding-left: 5px;
                    }
                }
            }
            .dropdown-menu {
                background: #6d165f; margin-top: 0px !important;
                li {
                    a {
                        padding: 5px 24px 9px 24px; border-color: #87247c; font-size: $runningsize; font-family: $primaryfont; font-weight: 400; text-overflow: ellipsis; overflow: hidden;
                        img {
                            padding-right: 10px;
                        }
                        &:hover {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
    #libraryData {
        max-height:calc(100% - 120px);
        table {
            thead {
                tr {
                    th {
                        font-size: $smallsize - 2; font-family: $primaryfont; color: #9e739e; text-transform: $upper; padding: 12px 0;
                        &.owner {
                            text-align: center;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border-bottom: 1px solid #442242; font-size: $runningsize - 1; font-family: $secondaryfont; color: $color; font-weight: 400; padding: 12px 0;
                        &.tittle {
                            font-weight: 500;
                            img {
                                padding-right: 10px;
                            }
                        }
                        &.owner {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.connectedRight {
    width: 100%; height: 100%; padding-left: 0px; padding-right: 0px; padding-bottom: 0px !important;
    tabset {
        height: 100%;
        .tab-content {
            height: 100%;
            .lobbyTabContent {
                height: calc(50% - 60px);
            }
        }
    }
    .lessonQueue {
        // padding-top: 50px;
        ul {
            display:flex; padding-left: 0;
            li {
                list-style:none; width:50%; align-items: end; display:inline-flex; color:#878787; font-size:$smallsize - 1; font-family:$secondaryfont; text-transform:$upper;     font-weight: 600;
                &.last {
                    text-align:right; justify-content: flex-end;
                }
                ui-switch {
                    display:inline-block; margin-left: 10px;
                }
            }
        }
    }
}

::-webkit-input-placeholder {
    color: #c794c4;
}
::-moz-placeholder {
    color: #c794c4;
}
:-ms-input-placeholder {
    color: #c794c4;
}
:-moz-placeholder {
    color: #c794c4;
}

.tabContentNew {
    // height: calc(100% - 42px); padding: 30px; background: #431658;
    height: 100%; padding: 30px; background: #431658;
    .upeerData {
        padding-bottom: 15px;
        .upperDropdown {
            float: left !important;
            button {
                &.dropdown-toggle {
                    padding-right: 15px; width:268px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left; background: none; border: none; font-size: $runningsize + 1; font-family: $secondaryfont; color: $color; font-weight: 600;
                    &:after {
                        right: 20px !important; position: absolute; top: 50%; margin-top: -12px; content: "\f107"; border: none; font-family: 'FontAwesome'; color: $color; font-size: $smallsize;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
            ul {
                &.dropdown-menu {
                    width:268px; text-overflow: ellipsis; text-align: left;
                    li {
                        a {
                            background: #321340; border-bottom: 1px solid #553561; padding: 15px; display: block; position: relative; font-size: $smallsize; font-family: $secondaryfont; font-weight: 500;
                            &:hover {
                                background: $pinkback !important; color: $color !important;
                            }
                        }
                        &.this-is-a-class {
                            a {
                                background: $pinkback; padding-left: 35px;
                                &:before {
                                    position: absolute; left: 12px; top: 15px; content: "\f00c"; font-family: 'FontAwesome'; font-size: 16px; color: $color;
                                }
                            }
                        }
                        &:last-child {
                            a {
                                border: none !important;
                            }
                        }
                    }
                }
            }
        }
        .upperButton {
            float: right !important;
            button {
                margin-left: 10px; padding-left: 2px; padding-right: 2px; padding-bottom: 5px; background: none; color: #dfbfe4; font-size: $smallsize - 2; font-family: $secondaryfont; text-transform: $upper; font-weight: 500; border: none; border-bottom: 3px solid transparent;
                &.active {
                    color: $color; border-bottom: 3px solid $pinkback;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

tab.gray {
    padding-left: 50px !important; padding-right: 50px !important; height: calc(100% - 40px);
    .widget {
        display: none;
    }
}

tab.lightPink {
    background: #90279d; padding-left: 50px !important; padding-right: 50px !important; height: calc(100% - 40px);
}

.connectedRight {padding-bottom: 0px;}

// tab.purple {
//     height: calc(100% - 90px) !important;
// }

.notesContent {
    ul {
        margin: 0; padding: 0; list-style: none; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
        li {
            display: inline-flex;
            input[type="button"] {
                background: $blue; color: $color; font-size: $smallsize; font-family: $secondaryfont; text-transform: $upper; border: none; padding: 13px 20px; cursor: pointer;
            }
            label {
                float: left; line-height: 21px; padding-right: 10px;
            }
            ui-switch {
                float: left;
            }
        }
    }
}
