
$primaryfont: 'Lato', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;
$upper: uppercase;
$graybg: #aeb5c3;
$color: #fff;
$primary: #c794c4;
$lightpurpletxt: #e6d9e8;
$darkgray: #23272a;
$blue: #00afa8;
$fullwidth: 100%;
$runningsize: 16px;
$smallsize: $runningsize - 2px;
$pinkback: #e90688;
$lightpurple: #dfbfe4;
@mixin position($type, $z-index, $property, $value) {
	position:$type;
	z-index:$z-index;
	@if $property == top {
    	top: $value;
  	}
	@else if $property == right {
    	right: $value;
  	}
	@else if $property == bottom {
    	bottom: $value;
  	}
	@else if $property == left {
    	left: $value;
	}
}
/**** mixin function ****/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}
  
.confirmModal {
    background: #4b0747; padding: 25px; max-width: 350px; overflow: hidden;
    h2 {
        font-family:$secondaryfont; font-size:$runningsize * 1.63; font-weight:500; color:$color; margin:0; padding:0 0 25px 0;
    }
    p {
        font-size: $smallsize; font-family: $secondaryfont; font-weight: 300;
    }
    button {
        &.purpleBtn {
            text-align: center; background: $pinkback; color: $color; font-size: $runningsize; font-family: $secondaryfont; font-weight: 500; text-transform: $upper; width: calc(50% - 5px); float: left; margin-right: 5px; height: auto !important; border: none;
        }
        &.blueBtn {
            text-align: center; background: $blue; color: $color; font-size: $runningsize; font-family: $secondaryfont; font-weight: 500; text-transform: $upper; width: calc(50% - 5px); float: right; margin-left: 5px; height: auto !important; border: none;
        }
    }
}