<div class="outer">
  <div class="inner">
    <div class="successFeedback">
      <div class="innerFeedback">
        <div class="logo">
          <img src="../../assets/images/logo-confirm.jpg" alt="">
        </div>
        <div class="icon">
          <img src="../../assets/images/feedback-icon.png" alt="">
        </div>
        <p>Success Feedback Completed!</p>
        <a href="javascript:void(0);" [routerLink]="['/teacher/dashboard']">Go to Home</a>
      </div>
    </div>
  </div>
</div>