$primaryfont: 'Lato', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;
$upper: uppercase;
$graybg: #aeb5c3;
$color: #fff;
$primary: #c794c4;
$purple: #90279d;
$lightpurpletxt: #e6d9e8;
$pinkback: #e90688;
$darkgray: #23272a;
$blue: #00afa8;
$fullwidth: 100%;
$runningsize: 16px;
$smallsize: $runningsize - 2px;
@mixin position($type, $z-index, $property, $value) {
	position:$type;
	z-index:$z-index;
	@if $property == top {
    	top: $value;
  	}
	@else if $property == right {
    	right: $value;
  	}
	@else if $property == bottom {
    	bottom: $value;
  	}
	@else if $property == left {
    	left: $value;
	}
}
/**** mixin function ****/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
.outer {
    display: table; width: $fullwidth; height: $fullwidth; position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.5); text-align: center; z-index: 1;
    .inner {
        display: table-cell; width: $fullwidth; height: $fullwidth; vertical-align: middle;
        .successFeedback {
            width:100%; max-width: 630px; margin: 0 auto;
            .innerFeedback {
                margin: 15px; background: #23272a; padding: 60px; text-align: center;
                .logo {
                    margin: 0; padding: 0;
                }
                .icon {
                    padding: 50px 0 25px 0;
                }
                a {
                    color: $blue; text-decoration: none;
                    &:hover {
                        color: $pinkback; text-decoration: none;
                    }
                }
            }
        }
    }
}
