.modal {
    #specPopup {
        .actionButtons {
            text-align: right;
            button {
                float: none; display: inline-block; margin-left: 5px;
            }
        }
    }
}