<!-- contentPart -->
<section id="contentPart">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-3 col-sm-6 col-12 leftPanel indexLeftPanel">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                        <div class="leftContent">
                            <button class="doneBtn">Done</button>
                            <h2>Find a Vocal Instructor</h2>
                            <ul>
                                <h3>availability</h3>
                                <li>
                                    <input id="radio-1" class="radio-custom" name="availability" type="radio" checked>
                                    <label for="radio-1" class="radio-custom-label">Accepting new students</label>
                                </li>
                                <li>
                                    <input id="radio-2" class="radio-custom" name="availability" type="radio">
                                    <label for="radio-2" class="radio-custom-label">All</label>
                                </li>
                            </ul>
                            <ul>
                                <h3>Student Level</h3>
                                <li>
                                    <input id="checkbox-1" class="index-checkbox-custom" name="checkbox-1" type="checkbox" checked>
                                    <label for="checkbox-1" class="index-checkbox-custom-label">Beginners</label>
                                </li>
                                <li>
                                    <input id="checkbox-2" class="index-checkbox-custom" name="checkbox-1" type="checkbox" checked>
                                    <label for="checkbox-2" class="index-checkbox-custom-label">Intermediate</label>
                                </li>
                                <li>
                                    <input id="checkbox-3" class="index-checkbox-custom" name="checkbox-1" type="checkbox" checked>
                                    <label for="checkbox-3" class="index-checkbox-custom-label">Advanced</label>
                                </li>
                            </ul>
                            <ul>
                                <h3>Gender</h3>
                                <li>
                                    <input id="male" class="radio-custom" name="gender" type="radio" checked>
                                    <label for="male" class="radio-custom-label">Male</label>
                                </li>
                                <li>
                                    <input id="female" class="radio-custom" name="gender" type="radio" checked>
                                    <label for="female" class="radio-custom-label">Female</label>
                                </li>
                                <li>
                                    <input id="no-preference" class="radio-custom" name="gender" type="radio" checked>
                                    <label for="no-preference" class="radio-custom-label">No preference</label>
                                </li>
                            </ul>
                            <ul class="halfWidth">
                                <h3>Vocal Style</h3>
                                <li>
                                    <input id="pop" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="pop" class="index-checkbox-custom-label">Pop</label>
                                </li>
                                <li>
                                    <input id="opera" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="opera" class="index-checkbox-custom-label">Opera</label>
                                </li>
                                <li>
                                    <input id="jazz" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="jazz" class="index-checkbox-custom-label">Jazz</label>
                                </li>
                                <li>
                                    <input id="musicaltheater" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="musicaltheater" class="index-checkbox-custom-label">Musical theater</label>
                                </li>
                                <li>
                                    <input id="classical" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="classical" class="index-checkbox-custom-label">Classical</label>
                                </li>
                                <li>
                                    <input id="folk" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="folk" class="index-checkbox-custom-label">Folk</label>
                                </li>
                                <li>
                                    <input id="gospel" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="gospel" class="index-checkbox-custom-label">Gospel</label>
                                </li>
                                <li>
                                    <input id="rock" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="rock" class="index-checkbox-custom-label">Rock</label>
                                </li>
                                <li>
                                    <input id="world" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="world" class="index-checkbox-custom-label">World</label>
                                </li>
                                <li>
                                    <input id="HipHop-R&B" class="index-checkbox-custom" name="vocalstyle" type="checkbox" checked>
                                    <label for="HipHop-R&B" class="index-checkbox-custom-label">Hip Hop/R&B</label>
                                </li>
                            </ul>
                            <div class="clr"></div>
                            <div class="width60">
                                <h3>vocal Type</h3>
                                <p>Soprano</p>
                            </div>
                            <div class="width40">
                                <ul class="halfWidth editListing">
                                    <h4>musical Worship</h4>
                                    <li>
                                        <input id="baptist" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="baptist" class="index-checkbox-custom-label">Baptist</label>
                                    </li>
                                    <li>
                                        <input id="buddhist" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="buddhist" class="index-checkbox-custom-label">Buddhist</label>
                                    </li>
                                    <li>
                                        <input id="catholic" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="catholic" class="index-checkbox-custom-label">Catholic</label>
                                    </li>
                                    <li>
                                        <input id="episcopal" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="episcopal" class="index-checkbox-custom-label">Episcopal</label>
                                    </li>
                                    <li>
                                        <input id="hindi" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="hindi" class="index-checkbox-custom-label">Hindi</label>
                                    </li>
                                    <li>
                                        <input id="jewish" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="jewish" class="index-checkbox-custom-label">Jewish</label>
                                    </li>
                                    <li>
                                        <input id="lutheran" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="lutheran" class="index-checkbox-custom-label">Lutheran</label>
                                    </li>
                                    <li>
                                        <input id="methodist" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="methodist" class="index-checkbox-custom-label">Methodist</label>
                                    </li>
                                    <li>
                                        <input id="nondenom" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="nondenom" class="index-checkbox-custom-label">Non-Denom</label>
                                    </li>
                                    <li>
                                        <input id="muslim" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="muslim" class="index-checkbox-custom-label">Muslim</label>
                                    </li>
                                    <li>
                                        <input id="presbyterian" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="presbyterian" class="index-checkbox-custom-label">Presbyterian</label>
                                    </li>
                                    <li>
                                        <input id="unitarian" class="index-checkbox-custom" name="musicalworship" type="checkbox" checked>
                                        <label for="unitarian" class="index-checkbox-custom-label">Unitarian</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-12 col-sm-12 col-12 indexMiniDesRight">
                <div class="rightContent indexRightPanel">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                            <h4>Find a Vocal Instructor</h4>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-8 col-sm-8 col-12">
                            <div class="searchField">
                                <input type="text" placeholder="Search vocal instructors">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-12">
                            <div class="sortBy">
                                <label>sort by</label>
                                <div class="dropdown dropdownBtn">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recommended</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <button class="dropdown-item" type="button">Action</button>
                                        <button class="dropdown-item" type="button">Another action</button>
                                        <button class="dropdown-item" type="button">Something else here</button>
                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                            <div class="sortByMobile">
                                <button class="filterBtn"><i class="fa fa-filter"></i> Filter</button>
                                <div class="dropdown dropdownBtn sortbyBtnMob">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> Sort By</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <button class="dropdown-item" type="button">Action</button>
                                        <button class="dropdown-item" type="button">Another action</button>
                                        <button class="dropdown-item" type="button">Something else here</button>
                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-12" *ngFor="let teacherDetail of matchingTeachers;let i = index">
                            <div class="teacherIndexCard" *ngIf="i<=2">
                                <div class="card">
                                    <div class="personPic">
                                        <img src={{teacherDetail.ImageURL}} alt="" class="img-fluid">
                                        <div [ngClass]="{'edit': (teacherDetail.Activity==='ActiveStatus' || teacherDetail.Activity==='LoggedIn'),
                                        'grayEdit' : teacherDetail.Activity==='LoggedOut' }">
                                            <i class="fa fa-comment"></i>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" (click)="teacherDetails(teacherDetail.TeacherProfileId, teacherDetail.LinkGUID, teacherDetail.ImageURL)">{{teacherDetail.DisplayName}}</h5>
                                        <p class="card-text">{{teacherDetail.StudioName}}</p>
                                        <ul>
                                            <li>
                                                <star-rating-comp [readOnly]="true" [starType]="'svg'" rating="{{teacherDetail.Rating}}"></star-rating-comp>
                                            </li>
                                        </ul>
                                        <button (click)="booklesson(teacherDetail.LinkGUID, teacherDetail.TeacherId)" class="booklessonbtn">
                                            <div class="wave"></div>Book Lesson</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12" *ngFor="let teacherDetail of matchingTeachers;let i = index">
                            <div class="teacherListing" *ngIf="i>2">
                                <div class="row">
                                    <div class="col-lg-8 col-sm-8 col-12">
                                        <div class="teacherPic">
                                            <img src={{teacherDetail.ImageURL}} alt="" class="img-fluid">
                                            <div [ngClass]="{'onlineTag': (teacherDetail.Activity==='ActiveStatus' || teacherDetail.Activity==='LoggedIn'),
                                                'grayEdit' : teacherDetail.Activity==='LoggedOut' }">
                                                <i class="fa fa-comment"></i>
                                            </div>
                                        </div>
                                        <div class="teacherDetail">
                                            <h2 (click)="teacherDetails(teacherDetail.TeacherProfileId, teacherDetail.LinkGUID, teacherDetail.ImageURL)">{{teacherDetail.DisplayName}}</h2>
                                            <h3>{{teacherDetail.StudioName}}</h3>
                                            <ul>
                                                <li>
                                                    <star-rating-comp [readOnly]="true" [starType]="'svg'" rating="{{teacherDetail.Rating}} "></star-rating-comp>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-12">
                                        <div class="teacherListBtn">
                                            <button class="chatbtn">
                                                <div class="wave"></div>
                                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                            </button>
                                            <button (click)="booklesson(teacherDetail.LinkGUID, teacherDetail.TeacherId)" class="booklessonbtn">
                                                <div class="wave"></div>Book Lesson</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contentPart -->

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>