<div class="thankYouWrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-sm-10 col-12 offset-lg-2 offset-sm-1 offset-0">
          <h2>Thank you, {{studentName}}!</h2>
          <p>You have successfully booked your schedule with {{commonService.associatedTeacherName}}.</p>
          <div class="thankYouBanner">
            <img src="../../assets/images/thankyou-desktop-banner.png" alt="" class="desktopBanner img-fluid">
            <img src="../../assets/images/thankyou-tablet-banner.png" alt="" class="tabletBanner img-fluid">
            <img src="../../assets/images/thankyou-mobile-banner.png" alt="" class="mobileBanner img-fluid">
          </div>
        </div>
      </div>
    </div>
</div>
