<div class="outer">
  <div class="inner">
    <div class="videoSubComplete">
      <div class="logo"><img src="../../../../../assets/images/logo-confirm.jpg" alt=""></div>
      <div class="vidIcon"><img src="../../../../../assets/images/vid-camera-icon.jpg" alt=""></div>
      <h2>Your Video Submission is Complete.</h2>
      <p>We will contact you when your result are ready.</p>
      <a href="javascript:void(0);" [routerLink]="['/student/dashboard']">Go to Home</a>
    </div>
  </div>
</div>
