<div class="outer">
  <div class="inner">
    <div class="addStudent">
      <h1>Add a Student</h1>
      <p>Submit this form to add a student to your Voice Lessons Student Index and send the student an invitation to set up their Voice Lessons account.</p>
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-12">
          <label class="required">First Name</label>
          <div class="requiredNew">
            <input type="text" placeholder="Ronda">
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
          <label>Last Name</label>
          <input type="text" placeholder="Sw">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12">
          <label class="required">Email Address</label>
          <div class="emailRequired">
            <input type="text" placeholder="email@emailaddress.com">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12">
          <button class="sendInvitation"><i class="fa fa-envelope-o"></i> Send Invitation</button>
        </div>
      </div>
    </div>
  </div>
</div>
