<div class="outer">
  <div class="inner">
    <div class="noBrowserContainer">
      <h1><img src="../assets/images/no-browser-icon.png" alt=""> Unsupported Browser</h1>
      <p>Voice Lessons uses cutting-edge technology to offer you the best digital singing experience.  Our platform is available for the following browsers:</p>
      <div class="row">
        <div class="col-l-g-4 col-sm-4 col-12">
          <div class="browser">
            <img src="../assets/images/chrome-icon.png" alt="" style="max-width:100%;">
            <h3>Google Chrome</h3>
            <label>Version 10.2+</label>
          </div>
        </div>
        <div class="col-l-g-4 col-sm-4 col-12">
          <div class="browser">
            <img src="../assets/images/firefox-icon.png" alt="" style="max-width:100%;">
            <h3>Mozilla Firefox</h3>
            <label>Version 3.0.1+</label>
          </div>
        </div>
        <div class="col-l-g-4 col-sm-4 col-12">
          <div class="browser">
            <img src="../assets/images/opera-icon.png" alt="" style="max-width:100%;">
            <h3>Opera</h3>
            <label>Version 110.9+</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>