$primaryfont: 'Lato', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;
$upper: uppercase;
$graybg: #aeb5c3;
$color: #fff;
$primary: #c794c4;
$purple: #90279d;
$lightpurpletxt: #e6d9e8;
$pinkback: #e90688;
$darkgray: #23272a;
$blue: #00afa8;
$fullwidth: 100%;
$runningsize: 16px;
$smallsize: $runningsize - 2px;
@mixin position($type, $z-index, $property, $value) {
	position:$type;
	z-index:$z-index;
	@if $property == top {
    	top: $value;
  	}
	@else if $property == right {
    	right: $value;
  	}
	@else if $property == bottom {
    	bottom: $value;
  	}
	@else if $property == left {
    	left: $value;
	}
}
/**** mixin function ****/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

h2 {
  font-size: $smallsize * 2 - 3; font-family: $secondaryfont; color: $color;
}
.mat-horizontal-stepper-header-container {
  float: right; display: block;
  .mat-horizontal-stepper-header {
    float: left; display: block;
  }
  .mat-step-icon {
    display: inline-block;
  }
}
.dropFile {
  .drop-zone {
    .content {
      img {
        float: left;
      }
      span {
        float: left; width: calc(100% - 90px); padding-top: 10px; @include position(relative, 0, left, 0);
        input[type="file"] {
          position: absolute; bottom: 5px; width: 37px; height: 10px; opacity: 0; cursor: pointer;
        }
      }
    }
  }
}
.noteFlight {
  label {
    font-size: $smallsize - 1; font-family: $secondaryfont; font-weight: 400; text-transform: $upper; color: $color; display: block;
    span {
      color: #ff159b;
    }
  }
  input[type="text"] {
    background: rgba(116, 17, 117, 0.4); width: $fullwidth; border: none; font-family: $primaryfont; color: $color; font-size: $runningsize - 1; font-weight: 400; padding: 7px 12px; margin-bottom: 20px;
    &:focus {
      outline: none;
    }
  }
}
.editNameLabel {
  .mat-divider {
    margin: 10px 0 30px 0; border-color: rgba(199, 148, 196, 0.2);
  }
  .mat-select {
    background: rgba(116, 17, 117, 0.4); width: 100%; border: none; font-family: "Lato", sans-serif; color: #fff; font-size: 15px; font-weight: 400; padding: 7px 12px; margin-bottom: 20px;
  }
  label {
    font-family: $secondaryfont; font-size: $smallsize - 1; font-weight: 400; color: $color; text-transform: $upper; @include position(relative, 0, left, 0);
    &.required {
      padding-left: 10px;
      &:before {
        font-family: $secondaryfont; font-size: $smallsize - 1; font-weight: 400; color: $pinkback; content: '*'; @include position(absolute, 0, left, 0); top: 3px;
      }
    }
    &.jumpPointLabel {
      font-family: $secondaryfont; font-size: $smallsize - 1; font-weight: 500; color: $color; text-transform: $upper;
      i {
        background: #9735a4; padding: 1px 3px 1px 2px;
      }
    }
  }
  input[type="text"] {
    background: rgba(116, 17, 117, 0.4); width: $fullwidth; border: none; font-family: $primaryfont; color: $color; font-size: $runningsize - 1; font-weight: 400; padding: 7px 12px; margin-bottom: 20px;
    &:focus {
      outline: none;
    }
  }
  ul {
    &.jumpTimeSwitch {
      text-align: right;
      li {
        display: inline-block; color: $primary; font-size: $smallsize - 1; font-family: $secondaryfont; text-transform: $upper;
      }
    }
  }
}
.jumpPoints {
  padding-top: 20px;
  tr {
    td {
      padding-bottom: 15px; color: $primary; font-size: $runningsize - 1; font-family: $secondaryfont;
      input[type="text"] {
        margin: 0 0 0 0;
        &.name {
          width: calc(100% - 15px);
        }
      }
    }
    &.plus {
      td {
        font-size: $runningsize + 9; color: #6e4168;
        input[type="text"] {
          margin: 0 0 0 0; background: rgba(116, 17, 117, 0.3);
        }
      }
    }
  }
}
.stepThreeContent {
  padding-top: 30px;
  label {
    font-family: $secondaryfont; font-size: $smallsize - 1; font-weight: 500; color: $color; text-transform: $upper;
  }
  textarea {
    background: rgba(116, 17, 117, 0.4); width: $fullwidth; border: none; font-family: $primaryfont; color: $color; font-size: $runningsize - 1; font-weight: 400; padding: 7px 12px; margin-bottom: 20px; resize: none;
    &:focus {
      outline: none;
    }
  }
}      
button {
  &.genButton {
    margin-left: 10px; display: inline-block; background: $blue; color: $color; font-size: $runningsize - 1; font-family: $secondaryfont; text-transform: $upper; border: none; padding: 12px 20px;
    img {
      display: inline-block; padding-right: 6px;
    }
  }
}

button {
  &.blueButton {
    margin-top: 20px; display: inline-block; background: $blue; color: $color; font-size: $runningsize - 1; font-family: $secondaryfont; text-transform: $upper; border: none; padding: 6px 20px; margin-left: 10px;
  }
  &:focus {
    outline: none !important;
  }
}

.addSongTable {
  max-height: calc(100% - 550px);
  table {
    width: $fullwidth;
    tbody {
      tr {
        td {
          font-size: $smallsize + 1; font-family: $secondaryfont; font-weight: 300; padding: 15px 0; border-bottom: 1px solid rgba(223, 191, 228, 0.2);
          i {
            font-size: $runningsize + 8px; vertical-align: middle;
          }
          &:first-child {
            width: 45px;
          }
          &:last-child {
            width: 65px; text-align: right; padding-right: 15px;
          }
        }
      }
    }
  }
}

.validateError {position:relative;}
.validateError span {padding-bottom: 20px; display: block !important;}
.validateError span.editCaseSuccess {position:relative;}
.validateError span.editCaseSuccess input[type="text"] {border:none;}
.validateError span.editCaseSuccess:before {content:"\f00c"; font-family: 'FontAwesome'; font-size:14px; top:8px; right:10px; color:#00afa8; position:absolute;}
.validateError span.editCaseError {position:relative}
.validateError span.editCaseError input {border:1px solid #e90688 !important;}
.validateError span.editCaseError:before {content:"\f00d"; font-family: 'FontAwesome'; font-size:14px; top:8px; right:10px; color:#e90688; position:absolute;}
.validateError span.CaseSuccess {position:relative;}
.validateError span.CaseSuccess input[type="text"] {border:none;}
.validateError span.CaseSuccess:before {font-family: 'FontAwesome'; font-size:14px; top:8px; right:10px; color:#00afa8; position:absolute;}
.validateError span.CaseError {position:relative}
.validateError span.CaseError input {border:1px solid #e90688 !important;}
.validateError span.CaseError:before {font-family: 'FontAwesome'; font-size:14px; top:8px; right:10px; color:#e90688; position:absolute;}


.validateError span {padding-bottom: 0px;}
.errorMessage {position: absolute; bottom: 0px;}

.buttonDisabled {
  color: #756375 !important; background: #1c4759 !important; 
}

.addSongTabs {
  position: relative;
  .hideDiv {
    @include position(absolute, 1, left, 0); top: 0; width: 100%; height: 40px;
  }
}
