

    <div class="row">
      <div class="col-lg-4 col-sm-12 col-12">
          <div class="courses">
              <img src="../assets/images/vocal-training-101.jpg" alt="" class="img-fluid">
                <div class="innerCourse">
                    <h4>Vocal Training 101
                        <span class="price"><sup>$</sup>99</span>
                    </h4>
                    <p>A brief but thorough introduction to vocal training with expert singer Ronda Swanson.</p>
                    <div class="botBar">
                        <ul>
                            <li>
                                <i class="fa fa-align-right fa-rotate-90"></i>
                                <span>beginner</span>
                            </li>
                            <li>
                                <i class="fa fa-folder-open"></i>
                                <span>12 lessons</span>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span>5 hours</span>
                            </li>
                            <div class="clr"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-12">
          <div class="courses">
              <img src="../assets/images/vocal-training-201.jpg" alt="" class="img-fluid">
                <div class="innerCourse">
                    <h4>Vocal Training 201
                        <span class="price"><sup>$</sup>129</span>
                    </h4>
                    <p>A continuation of the basics including lorem ipsum dolor sit amet, consectetur adipisicing and sed do eiusmod.</p>
                    <div class="botBar">
                        <ul>
                            <li>
                                <i class="fa fa-align-right fa-rotate-90"></i>
                                <span>medium</span>
                            </li>
                            <li>
                                <i class="fa fa-folder-open"></i>
                                <span>13 lessons</span>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span>6 hours</span>
                            </li>
                        </ul>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-12">
          <div class="courses">
              <img src="../assets/images/vocal-training-301.jpg" alt="" class="img-fluid">
                <div class="innerCourse">
                    <h4>Vocal Training 301
                        <span class="price"><sup>$</sup>129</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <div class="botBar">
                        <ul>
                            <li>
                                <i class="fa fa-align-right fa-rotate-90"></i>
                                <span>difficult</span>
                            </li>
                            <li>
                                <i class="fa fa-folder-open"></i>
                                <span>12 lessons</span>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span>6 hours</span>
                            </li>
                            <div class="clr"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-12">
          <div class="courses">
              <img src="../assets/images/opera-singing-basics.jpg" alt="" class="img-fluid">
                <div class="innerCourse">
                    <h4>Opera Singing Basics
                        <span class="price"><sup>$</sup>99</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                    <div class="botBar">
                        <ul>
                            <li>
                                <i class="fa fa-align-right fa-rotate-90"></i>
                                <span>beginner</span>
                            </li>
                            <li>
                                <i class="fa fa-folder-open"></i>
                                <span>12 lessons</span>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span>5 hours</span>
                            </li>
                            <div class="clr"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-12">
          <div class="courses">
              <img src="../assets/images/singing-in-italian.jpg" alt="" class="img-fluid">
                <div class="innerCourse">
                    <h4>Singing in Italian
                        <span class="price"><sup>$</sup>229</span>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                    <div class="botBar">
                        <ul>
                            <li>
                                <i class="fa fa-align-right fa-rotate-90"></i>
                                <span>difficult</span>
                            </li>
                            <li>
                                <i class="fa fa-folder-open"></i>
                                <span>13 lessons</span>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span>11 hours</span>
                            </li>
                            <div class="clr"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>