@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primaryfont: 'Lato', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;
$upper: uppercase;
$graybg: #aeb5c3;
$color: #fff;
$primary: #c794c4;
$lightpurpletxt: #e6d9e8;
$darkgray: #23272a;
$blue: #00afa8;
$fullwidth: 100%;
$runningsize: 16px;
$smallsize: $runningsize - 2px;
$pinkback: #e90688;
$lightpurple: #dfbfe4;
@mixin position($type, $z-index, $property, $value) {
	position:$type;
	z-index:$z-index;
	@if $property == top {
    	top: $value;
  	}
	@else if $property == right {
    	right: $value;
  	}
	@else if $property == bottom {
    	bottom: $value;
  	}
	@else if $property == left {
    	left: $value;
	}
}
/**** mixin function ****/
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

.createLesson {
    max-width:460px; width:$fullwidth; background: #490747; /*background:rgba(116,17, 117, 0.4);*/ padding:50px; margin:0 auto; position: relative;
    h2 {
        font-family:$secondaryfont; font-size:$runningsize * 1.63; font-weight:500; color:$color; margin:0; padding:0 0 15px 0;
    }
    .personPic {
        max-width: 80px; height: 80px; margin-bottom: 10px;
        img {
            width: $fullwidth; height: $fullwidth;
        }
    }
    label {
        font-family:$secondaryfont; font-size:$smallsize - 1; color:$color; text-transform:$upper; width:$fullwidth; line-height:10px; margin-bottom:10px; display:block;
        span {
            color:$pinkback;
        }
    }
    h4 {
        font-family:$secondaryfont; font-size:$smallsize - 1; color:$color; text-transform:$upper; width:$fullwidth; line-height:10px; margin-bottom:10px; display:block;
        span {
            color:$pinkback;
        }
    }
    input[type="text"] {
        width:$fullwidth; background:rgba(116, 17, 117, 0.6); border:none; margin-bottom:27px; padding:8px 13px; font-family:$primaryfont; font-size:$runningsize - 1; font-weight:400; color:$lightpurple;
        &:focus {
            outline:none;
        }
    }
    textarea {
        resize: none; width:$fullwidth; background:rgba(116, 17, 117, 0.6); border:none; margin-bottom:21px; padding:8px 13px; font-family:$primaryfont; font-size:$runningsize - 1; font-weight:400; color:$lightpurple;
        &:focus {
            outline:none;
        }
    }
    button {
        &.purpleBtn {
            padding-right: 30px; position: relative; background:#90279d; color:$color; font-family:$secondaryfont; font-size:$runningsize - 1; font-weight:500; /*padding:10px 15px;*/ border:none; display:inline-block; margin-bottom:25px;
            &:focus {
                outline:none;
            }
        }
        &.blueBtn {
            background:$blue; color:$color; width:$fullwidth; font-family:$secondaryfont; font-size:$runningsize - 1; font-weight:500; /*padding:10px;*/ margin-top:10px; border:none; text-align:center;
            &:focus {
                outline:none;
            }
        }
        &.cancelBtnNew {
            width: calc(50% - 5px); float: left;
            &:focus {
                outline:none;
            }
            i {
                font-size: 14px; position: absolute; top: 4px; right: 7px; cursor: pointer;
            }
        }
        &.saveBtnNew {
            width: calc(50% - 5px); float: right;
            &:focus {
                outline:none;
            }
            i {
                font-size: 14px; position: absolute; top: 4px; right: 7px; cursor: pointer;
            }
        }
        &.blueBtnList {
            margin-bottom: 10px;float: left; margin-right: 10px; height: auto !important; line-height: 11px !important; position: relative; padding: 5px 27px 5px 10px !important; background:$blue; color:$color; width:auto; font-family:$secondaryfont; font-size:$smallsize - 1; font-weight:500; border:none; text-align:center; text-transform: $upper;
            &:focus {
                outline:none;
            }
            i {
                font-size: 14px; position: absolute; top: 4px; right: 7px; cursor: pointer;
            }
        }
    }
}
.selectedList {
    padding-bottom: 20px; margin-top: -10px;
}
.outer {
    @include position(absolute, 0, left, 0); width:$fullwidth; height:$fullwidth; top:0;
    .inner {
        display:table; width:$fullwidth; height:$fullwidth;
        .innerData {
            display:table-cell; vertical-align:middle;
        }
    }
}
.mat-form-field {width:$fullwidth; padding-bottom:24px;}
input.mat-chip-input {width:$fullwidth; background:rgba(116, 17, 117, 0.6); border:none; margin-bottom:11px; margin-left:0; margin-right:0; margin-left:0px !important; padding:11px 13px; font-family:$primaryfont; font-size:$runningsize - 1; font-weight:400; color:$lightpurple;}

::-webkit-input-placeholder {color:$lightpurple;}
::-moz-placeholder {color:$lightpurple;}
:-ms-input-placeholder {color:$lightpurple;}
:-moz-placeholder {color:$lightpurple;}

@media only screen and (min-width:0px) and (max-width:639px) {
    .outer {@include position(relative, 0, left, 0);}
    .createLesson {padding:15px;}
}

@media only screen and (min-width:640px) and (max-width:767px) {
    .outer {@include position(relative, 0, left, 0);}
}

.mat-chip {
    background: $pinkback !important; color: #fff !important;
    .mat-chip-remove {
        color: $color !important; opacity: 1 !important;
    }
}

.dialogClose {
    position: absolute; top: 15px; right: 15px; font-size: 15px; cursor: pointer; opacity: 0.6; cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.errorMessageHeader {
    bottom: 10px;
}

.mat-select {
    width: 100%; background: rgba(116, 17, 117, 0.6); border: none; padding: 8px 13px; font-family: "Lato", sans-serif; font-size: 15px; font-weight: 400; color: #dfbfe4;
}
.mat-select-content {
    .mat-option {
        color: #fff !important;
        span.mat-option-text {
            font-family: "Montserrat", sans-serif !important; font-size: 13px !important; color: #fff !important; line-height: 10px !important;
        }
    }
}
.mat-option.mat-active {color: #fff !important;}

.addSongStepper {
    .mat-form-field {
        input {
            &.mat-chip-input {
                margin-top: 0px !important;
            }
        }
    }
}

.validateError h4:before {
    top: 1px;
}

.validateError span.editCaseError input, .validateError span.editCaseError textarea {
    border: 1px solid #e90688 !important;
}

.mat-form-field {padding-bottom: 24px;}

.createLesSwitchContaiuner {
    position: relative;
    ui-switch {
        float: inline-flex; align-items: center;
    }
    label {
        display: inline-flex; align-items: center; width: auto !important; position: absolute; left: 45px; top: 6px; margin: 0;
    }
}
